{% extends 'base.html' %}

{% block title %}
    История
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <!-- Контейнер для карусели фотографий -->
                <div class="col-md-4">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/image/history/Ferrari_125.jpg" class="d-block w-100" alt="Ferrari 125">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/image/history/1962_Ferrari_250_GTE.jpg" class="d-block w-100" alt="Ferrari 250">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/image/history/640px-Ferrari_F40_with_tinted_glass.jpg" class="d-block w-100" alt="Ferrari F40">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!-- Контейнер для информации -->
                <div class="col-md-8">
                    <h2 class="card-title">Заголовок</h2>
                    <p class="card-text">
                        С начала 1920-х годов Энцо Феррари был гонщиком и продавцом автомобилей «Альфа-Ромео». В 1929 году «Альфа-Ромео» из-за финансовых трудностей вынуждена была прекратить участие в автогонках, и Энцо Феррари основал гоночную команду «Скудерия Феррари» (Scuderia Ferrari); она продолжала использовать автомобили «Альфа-Ромео», но была финансово независимой. В 1939 году Энцо Ферра́ри порвал отношения с «Альфа-Ромео» и основал свою компанию Auto Avio Costruzioni; она начала производить авиационные моторы, а с началом Второй мировой войны — шлифовальные станки и другое промышленное оборудование.
                    </p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <p class="card-text">
                        Первый гоночный автомобиль компания выпустила только в марте 1947 года (125 S), а первый дорожный автомобиль — в 1948 году (Ferrari 166 Inter)[4][5]. Основой этих автомобилей стал двигатель V12, разработанный Джоаккино Коломбо (двигатель Ferrari Colombo[англ.]), его модификации использовались до 1988 года. В 1948 году собственная команда «Феррари» впервые одержала победу в гонках Милле-Милья и Тарга-Флорио. В 1949 году команда победила в тех же соревнованиях, а также в гонке «24 часа Ле-Мана».

                        В 1950 году начался выпуск серии автомобилей America. В 1950 году был основан чемпионат Формула-1, и Ferrari является единственной командой, участвовавшей во всех сезонах. В 1952 году команда впервые выиграла чемпионат благодаря гонщику Альберто Аскари, всего за 1952 год автомобили Ferrari победили в 16 гонках из 17, в которых принимали участие[4].

                        До начала 1950-х годов автомобили Ferrari изготавливались поштучно, каждая модель была изготовлена не более чем в 5 экземплярах. Всего к началу 1954 года Энцо Феррари выпустил около 200 своих машин в эксклюзивно-дорожном варианте и 250 гоночных моделей. Создавая свои дорожные автомобили, Феррари обращался к разным дизайнерским компаниям, делая свои модели непохожими друг на друга. Но модель Ferrari 250, представленная в 1953 году положила начало многолетнему и плодотворному сотрудничеству с компанией «Пининфарина» и стала первой сравнительно массовой моделью[6].

                        В 1956 году умер Альфред «Дино» Феррари, сын Энцо Феррари. В компании отца он работал над новым двигателем V6, работа над которым была завершена конструктором Витторио Яно. В честь Дино был назван как двигатель, так и отдельная марка автомобилей (Ferrari Dino), а также модель Fiat Dino.

                        В 1960 году Ferrari была реорганизована в публичную компанию Società Esercizio Fabbriche Automobili e Corse (SEFAC); к этому времени главным рынком сбыта стала Северная Америка, куда экспортировалось 40 % автомобилей. Однако к концу 1960-х годов продажи начали падать; все усилия Энцо Феррари сосредоточил на участии в спортивных соревнования, что начало сказываться на качестве выпускаемых дорожных автомобилей. За 1969 год было продано всего 619 машин[4]. Среди моделей 1960-х годов были фастбек 250 GTE с кузовом «2+2», 330 GT, Berlinetta Lusso, Daytona. Также производилась модель Ferrari 250 GTO, всего их было выпущено 39, в 2013 году Ferrari 250 GTO 1963 года был продан за рекордные 52 млн долларов и стал самым дорогим автомобилем в мире[7].

                        В июне 1969 года 50 % акций Ferrari было куплено концерном Fiat; Энцо Феррари сохранил за собой остальные 50 %, а также контроль над гоночным подразделением. Инвестиции Fiat позволили увеличть производство до более, чем 1000 автомобилей в 1970 году и 2000 в конце 1970-х годов. В 1988 году, после смерти основателя, Fiat увеличил свою долю до 90 %[4]. Последняя модель, над которой работал Энцо Феррари, была F40.

                        В 1992 году компанию возглавил Лука Кордеро ди Монтедземоло, который оставался председателем до 2014 года. Под его руководством был полностью обновлён модельный ряд, вместо двух старых моделей были разработаны 9 новых, включая сравнительно недорогую Ferrari 355 (160 тыс. долларов) и 456M с задним сиденьем[4].

                        В 1997 году Fiat перевёл в подчинение Ferrari другого производителя спортивных машин — Maserati, однако в 2005 году они были разделены[8]. В конце 1990-х годов Ferrari начала лицензировать свой бренд для производства часов, парфюмерии, одежды и игрушек, а также для использования в компьютерных играх[4].

                        В октябре 2014 года Fiat Chrysler Automobiles NV (FCA) объявила о своих намерениях выделить Ferrari. В сентябре 2015 года в Нидерландах была зарегистрирована холдинговая компания Ferrari N.V., на которую были переведены все 100 % акций Ferrari SpA. В октябре 2015 года было проведено первичное публичное предложение на Нью-Йоркской фондовой бирже, а в январе 2016 года — также на Итальянской фондовой бирже[2].
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
